html{
	width:100%;
}
.logoCat {
	position: relative;
	float:left;
	height:60px;
	width: 75px;
}
#pageContainer {
	width:100%;
}

div#blackBar {
	background-color: #000000;
    width:100%;
    margin:0;
    padding:0;
    float:left;
}
div#header {
    height: 66px;
    font-family: arial;
    color: #FFFFFF;
    width:100%;
    margin:0;
    padding:0;
    float:left;
}
div#whiteBody {
	width:100%;
	height: 300px;
	background-image: url("SF_skyline.jpg");
	background-size:cover;
	position: static;
	padding:0;
	margin:0;
	float:left;

}
div#blackBody {
	width:100%;
	height:300px;
	background-color: #000000;
	color: #ffffff;
	vertical-align:middle;
	margin:0;
	position:static;
	padding:0;
	float:left;

}

.experience {
	color:#ffffff;
	text-align: left;
	margin-left: 25px;
	display:inline-block;
}
.experienceJob{
	display: inline-block;
}
div#JustAnswer{
	width:200px;
	margin:0 auto;
}
div#Google{
	width:200px;
	margin:0 auto;
}

div#GSX{
	width:200px;
	margin:0 auto;

}


h1#text-branding{
	text-align: center;
	font-weight: bolder;
	font-family:Arial, Helvetica, sans-serif;
	padding:100px;
}
h1#text-branding-white{
	text-align: center;
	font-weight: bolder;
	font-family:Arial, Helvetica, sans-serif;
	
}
.nav {
	position: fixed;
	left:855px;
	margin-top: 5px;
}

.navButton{
	padding:2px 0 0;
	border-width: 2px;
	color: #ffffff;
	border-radius: 2px;
	border-style:solid;
	border-color:#ffffff;
	margin-left: 14px;

}

@media only screen and (max-width: 800px){
.nav {
	position: fixed;
	left:200px;
	display:inline;
	margin-top: 5px;
}
}